subscription_id               = "00000000-0000-0000-0000-000000000000"
location                      = "eastus"
project_name                  = "gaclab"
environment                   = "dev"
owner                         = "john-doe"
resource_group_name           = "rg-gac-lab-dev"
log_analytics_workspace_name  = "law-gac-lab-dev"
storage_account_name          = "replacewithuniquestorageacct"
